<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastAPI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\PythonXX\python.exe|C:\PythonXX\Scripts\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
  </appSettings>
</configuration>
